.quote-header {
    margin-top: 10rem;
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
}

.quote-header:focus {
    background-color: yellow;
    border: solid black;
    outline: none;
}

.quote-header p {
    width: 100%;
    text-align: initial;
}

.quote-category {
    color: black;
    background-color: coral;
}

.correct{
    color: green;
}

.current{
    text-decoration: underline;
}